html, body {
    height: 100%;
}

body {
    background-color: #1F2937;
}

h1 {
    margin-top: 1em;
}

h1, h2, p {
    text-align: center;
    /* margin-bottom: 2em; */
    /* font-family: "Kenia", "sans-serif"; */
    font-family: sans-serif;
    color: #F9FAF8;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.score_container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    margin: 5em 10em 5em 10em;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbol_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em 9em 0 9em;
}

.symbols {
    height: 6em;
    width: 6em;
    border: 2px solid #F9FAF8;
    border-radius: 10%;
}

.symbols:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.symbols:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

.box p {
    width: 4em;
}